*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  
}

button{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    padding: 10px 12px;
    font-weight: bold;
    border-style: none;
    background-color: royalblue;
    border-radius: 10px;
    box-shadow: 2px 5px rgb(40, 6, 95);
    margin: 20px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(29, 48, 106);

}

.contenedorBotones{
    width: 100%;
    display: flex;
    justify-content: center;
}


header{
    width: 100% auto;
    padding: 15px;
    display: flex;
    justify-content: center;
}

header img{
    width: 50px;
    height: 50px;
}

.logo{
    color: rgb(0, 17, 169);
    font-size: 40px;
    font-weight: bold;
    font-family: monospace, sans-serif;
}

body{
    background-color: aliceblue;
}

.contenedorPrincipal{
	margin:auto;
    width: 100% auto;
    height: 90vh;
    display: flex;
    flex-direction: column;
    
}

.contenedorTexto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea{
    background-color: whitesmoke;
    margin-top: 20px;
    border: 3px solid black;
    border-radius: 7px;
    width: 80%;
    height: 400px;
}



.contenedorResultado{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 25px;
}

.panelResultado{
    background-color: whitesmoke;
    margin-top: 20px;
    border: 3px solid black;
    border-radius: 7px;
    width: 80%;
    height: 400px;
}

#contenido{
    display: contents;
   
}

#textoCodificado{
    display: none;
    word-wrap: break-word;
    text-align: justify;  
}


.panelResultado img{
    height: 50%;
    width: 50%;
}

.panelResultado h4{
    color:royalblue;
    font-weight: bold;
    text-align: center;
}
.panelResultado p{
    font-size: 14px;
}


    @media (min-width:720px){

        header{
            justify-content: left;
        }

        .contenedorPrincipal{
            width: 100% auto;
            flex-direction: row;
            justify-content: center;
            background-image:url(imagenes/fondo.png);
            background-position: center ;
            background-repeat: no-repeat;
            background-position-y: bottom;
        
        }

        textarea, .panelResultado{
            margin: 0 25px;
            width: 800px;

        }

        .panelResultado img{
            height: 60%;
            width: 50%;
        }
        
    }
